@media (max-width:1000px){
  .profile-contents{
    width: 60%;
    margin-left: px;
    margin-top: px;
    margin-bottom: px;


  }

}




@media (max-width:) {
  .main{
    background-size: contain;
  }
}


}


@media(max-width:560px){


}
